[submodule "SPADE"]
	path = SPADE
	url = https://github.com/NVlabs/SPADE.git
[submodule "Face_parsing_python"]
	path = Face_parsing_python
	url = https://github.com/mira-murali/Face_parsing_python.git
